body{
  background-image: url("../img/grid-dark.png");
  background-repeat: repeat;
  background-position: top left;
}
h1, h3, .submit{
  color: white;
  font-weight:bolder;
}
h1{
  height: 200px;
  line-height: 100px;
  background-image: url("../img/soissons-campus-formation-header.png");
  background-position: center;
}
h3{
  height: 100px;
  line-height: 100px;
  background-image: url("../img/soissons-campus-formation-header.png");
  background-position: center;
}
.submit{
  background-color: #38A6E3;
}
